@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  font-family: Quicksand;
  color: #767693;
}

h1 {
  color: #4d4d62
}

h1 #sql_label {
  color: rgb(237, 65, 179);
}

h1 #excel_label {
  color: #08c8a2;
}

body {
  background-color: #1d1e22;
}